<blockquote class="blockquote pt-3 pb-5">
    <p class="mb-0">I guess what everyone wants more than anything else is to be loved. And to know that you loved me for my singing is too much for me. Forgive me if I don't have all the words. Maybe I can sing it and you'll understand.</p>
    <footer class="blockquote-footer text-right">Ella Fitzgerald, <cite title="Source Title">"<a href="http://www.ellafitzgerald.com/about/quotes" target="_blank" rel="noopener">Quotes</a>"</cite></footer>
</blockquote>