{% comment %}

    Add a thumbnail image or icon based on format for an item, with a object_location link (if available).

{% endcomment %}

<div class="my-2" style="position: relative;">

{% if page.object_location %}
    <a href="{{ page.object_location | relative_url }}" target="_blank" rel="noopener">
{% endif %}
        <img class="img-fluid border border-dark rounded" src="{{ page.image_small | relative_url }}" alt="{{ page.title | escape }}">

        <div class="highlight text-center py-2 px-5 rounded">
            <span>{%- if page.filename contains '_aux' -%}Auxiliary Material{%- elsif page.filename contains '_chart' -%}Chart{%- elsif page.filename contains '_scores' -%}Scores{%- elsif page.filename contains '_sketches' -%}Sketches{%- elsif page.filename contains '_parts' -%}Parts{%- endif -%}</span>
        </div>
{% if page.object_location %}
    </a>
{% endif %}

</div>